@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Background e texto */
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    /* Cards */
    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    /* Popover */
    --popover: 228 9% 11%;
    --popover-foreground: 210 40% 98%;

    /* Primária */
    --primary: 252 100% 69%;
    --primary-foreground: 0 0% 100%;

    /* Secundária */
    --secondary: 228 6% 16%;
    --secondary-foreground: 210 40% 98%;

    /* Muted */
    --muted: 228 6% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    /* Accents */
    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    /* Danger */
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    /* Bordas */
    --border: 228 6% 16%;
    --input: 228 6% 16%;
    --ring: 212.7 26.8% 83.9%;

    /* Radius */
    --radius: 0.5rem;
  }

  /* Se quiser tema dark separado no futuro */
  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;
  }
}

/* --------------------------- */
/* REGRAS BASE / RESET         */
/* --------------------------- */
@layer base {
  * {
    @apply antialiased;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full;
    background-color: var(--background);
    color: var(--text-on-background);
  }
}
